<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

<div class="logo">
    <a href="{% url 'index' %}">
        <img src="../../static/mainapp/media/logo.png" alt="Site Logo">
    </a>
</div>
<nav class="nav-buttons">
    <a href="/list"><i class="fas fa-tools"></i> Builder</a>
    <a href="#"><i class="fas fa-book"></i> Guides</a>
    <a href="/completed-builds"><i class="fas fa-desktop"></i> Completed Builds</a>
</nav>
<div class="auth-buttons">
    {% if user.is_authenticated %}
    <a
        style="font-size: 20px; color: black; margin-right: 20px; margin-left: 50px; text-decoration: none;"
        href="#">{{ user.username }}
    </a>
    {% else %}
    <a href="{% url 'login' %}"><button>Log In</button></a>
    <a href="{% url 'signup' %}"><button>Sign Up</button></a>
    {% endif %}
</div>