{% extends 'wrapper.html' %}
{% load static %}
{% block body %}

<section id="builder" class="section builder-section">
    <h1>Create your own PC.<br>Use huge variety of parts.</h1>
    <p>Start building your dream PC with our intuitive and easy-to-use builder. Customize every component to match your needs.</p>
    <br><br>
    <nav class="nav-buttons">
        <a href="#"><i class="fas fa-tools"></i>Start Your Build</a>
    </nav>
</section>

<section id="guides" class="section guides-section">
    <h1>Guides</h1>
    <p>Explore our detailed guides to learn about the latest PC components, assembly tips, and performance optimization techniques.</p>
</section>

<section id="completed-builds" class="section completed-builds-section">
    <h2>Completed Builds</h2>
    <p>Check out completed builds from our community for inspiration and see how your dream PC could come to life.</p>
</section>

{% endblock %}